<section name="total">
    <h1>{{ vm.titulo }}</h1>
    <p class="lead">Lista de tus proyectos</p>
</section>
<section name="listaProyectos" class="row-fluid">
    <row class="row-fluid h3">
        <span class="col-sm-1"> Id </span>
        <span class="col-sm-2"> Manager </span>
        <span class="col-sm-2"> Proyecto </span>
        <span class="col-sm-2"> Cliente </span>
        <span class="col-sm-2"> Presupuesto </span>
        <span class="col-sm-1"> Coste </span>
        <span class="col-sm-2"> Estado </span>
    </row>
    <row class="row-fluid" ng-repeat="p in vm.proyectos" ng-class="vm.claseEstado(p)">
        <span class="col-sm-1"> <a ng-href="#/proyectos/{{p._id}}">{{p._id | recortarFinal:2}}</a> </span>
        <span class="col-sm-2"> {{p.manager}} </span>
        <span class="col-sm-2"> {{p.nombre | recortar}}</a> </span>
        <span class="col-sm-2"> {{p.cliente}} </span>
        <span class="col-sm-2"> {{p.presupuesto}} $ </span>
        <span class="col-sm-1"> {{p.coste | rellenar}} $ </span>
        <span class="col-sm-2"> * {{ p.estado }} </span>
    </row>
</section>

