
.ng-hide-add         { 
    -webkit-animation: bounceOut 3s;
    -moz-animation: bounceOut 3s;
    -ms-animation: bounceOut 3s;
    animation: bounceOut 3s; }

.ng-hide-remove      { 
    -webkit-animation: bounceIn 3s;
    -moz-animation: bounceIn 3s;
    -ms-animation: bounceIn 3s;
    animation: bounceIn 3s; }
