<div>
    <span resaltado class="col-sm-1"> <a ng-href="#/proyectos/{{proyecto._id}}">{{proyecto._id | recortarFinal:2}}</a> </span>
    <span resaltado class="col-sm-2"> {{proyecto.manager}} </span>
    <span resaltado class="col-sm-2"> {{proyecto.nombre | recortar}}</a> </span>
    <span resaltado class="col-sm-2"> {{proyecto.cliente}} </span>
    <span resaltado class="col-sm-1"> {{proyecto.presupuesto}} $ </span>
    <span resaltado class="col-sm-1"> {{proyecto.coste | rellenar}} $ </span>
    <span resaltado class="col-sm-2"> * {{ proyecto.estado }} </span>
<!--    <span resaltado class="col-sm-1"> <rating max="5" valor="proyecto.rating" solo-lectura="true"></rating> </span>-->
</div>