<!DOCTYPE html>
<html lang="es" ng-app="appTuCuenta">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="Creación de un nuevo proyecto en AppTuCuenta">
    <meta name="author" content="Alberto Basalo">
    <link rel="shortcut icon" href="../../assets/ico/favicon.ico">
    <title>{{ vm.titulo }}</title>
    <link href="http://getbootstrap.com/dist/css/bootstrap.min.css" rel="stylesheet">
</head>

<body>
    <nav class="navbar navbar-default navbar-fixed-top" role="navigation" 
         ng-controller="MenuCtrl as vm">
        <div class="navbar-inner">
            <div class="container">
                <ul class="nav navbar-nav">
                    <li ng-class="{ active: vm.isActive('/') }">
                        <a href="#/">Inicio</a>
                    </li>
                    <li ng-class="{ active: vm.isActive('/proyectos/nuevo') }">
                        <a href="/#/proyectos/nuevo">Nuevo Proyecto</a>
                    </li>
                    <li ng-class="{ active: vm.isActive('/proyectos/lista') }">
                        <a href="/#/proyectos/lista">Lista de proyectos</a>
                    </li>
                </ul>
                <ul class="nav navbar-nav navbar-right">
                    <li><a href="#">{{nombre}}</a>
                    </li>
                    <li><a href="#">{{mensaje}}</a>
                    </li 
                </ul>
            </div>
        </div>
    </nav>
    
    <div class="container text-center" style="padding-top:50px;" >
        <div ng-view></div>
    </div>
     
    
    <!-- JavaScript References -->
    <!-- Angular desde CDN -->
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.2.25/angular.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.2.25/angular-resource.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.2.25/angular-route.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.2.25/angular-cookies.min.js"></script>
    <!-- Nuestras propias referencias -->
    <script src="app.js"></script>
    <script src="_comun/rutas.js"></script>
    <script src="_comun/interceptor.js"></script>
    <script src="_comun/MenuCtrl.js"></script>
    <script src="_comun/validacionesFactory.js"></script>
    <script src="usuarios/UsuariosCtrl.js"></script>
    <script src="usuarios/usuariosFactory.js"></script>
    <script src="usuarios/sesionesFactory.js"></script>
    <script src="inicio/InicioCtrl.js"></script>
    <script src="proyectos/proyectosFactory.js"></script>
    <script src="proyectos/ProyectosCtrl.js"></script>
    
    
</body>