<!DOCTYPE html>
<html>

<head>
    <title>World Tour</title>
    <meta charset="UTF-8">
    <meta name="description" content="Ejercicio curso AngularJS" />
    <meta name="keywords" content="" />
    <link href="http://getbootstrap.com/dist/css/bootstrap.min.css" rel="stylesheet">
</head>

<body ng-app="aBay" ng-controller="pujasCtrl">
    <header>
        <h1>Angular Bay</h1>
    </header>
    <hr>
    <section name="region_selector">
        <div class="form">
            <label for="user_name">Email</label>
            <input type="email" class="form-control" ng-model="email" >
            <label for="puja">Puja</label>
            <input type="number" class="form-control" ng-model="puja"  >
            <button  ng-click="guardar()">Pujar</button>
        </div>
    </section>
    <hr>
    <section name="pujas" class="container">
        <div class="row">
            <span>Email</span>
            <span>Puja</span>
        </div>
        <div class="row" ng-repeat="puja in data.pujas">
            <span>{{email}}</span>
            <span>{{puja}}</span>
        </div>
    </section>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.2.17/angular.min.js"></script>
    <script src='https://cdn.firebase.com/v0/firebase.js'></script>
    <script src='https://cdn.firebase.com/libs/angularfire/0.7.1/angularfire.min.js'></script>
    <script src="app.js"></script>
</body>

</html>