<section name="total">
    <h1>{{ vm.titulo }}</h1>
    <p class="lead">Lista de tus proyectos</p>
</section>
<section name="listaProyectos" class="row-fluid">
    <ul ng-repeat="p in vm.proyectos">
        <li> <a ng-href="#/proyectos/{{p._id}}"> {{p.nombre}} - {{p.presupuesto}} - {{p.manager}} - {{p.cliente}} </a></li>
    </ul>
</section>

