<section name="total">
    <h1>{{ vm.titulo }}</h1>
    <p class="lead">Estado del proyecto en AppTuCuenta</p>
</section>
<section name="nuevoProyecto" class="row-fluid">
    <form name="frmProyecto" class="form-horizontal text-left">
        <fieldset>
            <div id="legend">
                <legend class="">Estado del proyecto {{vm.proyecto.nombre}} </legend>
                <div> Del cliente: {{ vm.proyecto.cliente}}</div>
                <div> Presupuestado en: {{ vm.proyecto.presupuesto}}</div>
                <div> Para hacer entre el {{ vm.proyecto.fechaInicio}} y el {{ vm.proyecto.fechaFin}} </div>
                <div> Administrado por: {{ vm.proyecto.manager}}</div>
            </div>
        </fieldset>
    </form>
</section>

