<!DOCTYPE html>
<html lang="es" ng-app="controlCajaApp" ng-controller="ControlCajaCtrl as vm">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="Control de Caja">
    <meta name="author" content="Alberto Basalo">
    <link rel="shortcut icon" href="../../assets/ico/favicon.ico">
    <title>Control de Caja</title>
    <link href="http://getbootstrap.com/dist/css/bootstrap.min.css" rel="stylesheet">
</head>

<body>
    <section name="total">
        <h1>{{ vm.titulo }}</h1>
        <p class="lead">Comprueba de dónde viene y a dónde va tu dinero.</p>
    </section>
    <section name="nuevoMovimiento" class="row-fluid">
        <form class="form-horizontal text-left">
            <fieldset>
                <div id="legend">
                    <legend class="">Introduce tus movimientos</legend>
                </div>
                <div class="row-fluid">
                    <div class="col-xs-12 col-sm-6">
                        <div class="control-group">
                            <label class="control-label" for="tipo">Tipo</label>
                            <div class="controls">
                                <div class="btn-group">
                                    <button type="button" class="btn btn-success" ng-class="{'active':vm.nuevoMovimiento.esIngreso==1}" ng-click="vm.nuevoMovimiento.esIngreso=1; vm.nuevoMovimiento.esGasto=0">
                                        <span ng-class="{'small':vm.nuevoMovimiento.esIngreso==0}">+ Ingreso</span>
                                    </button>
                                    <button type="button" class="btn btn-danger" ng-class="{'active':vm.nuevoMovimiento.esGasto==1}" ng-click="vm.nuevoMovimiento.esIngreso=0; vm.nuevoMovimiento.esGasto=1">
                                        <span ng-class="{'small':vm.nuevoMovimiento.esGasto==0}">- Gasto</span>
                                    </button>
                                </div>
                            </div>
                        </div>
                        <div class="control-group">
                            <label class="control-label" for="categ">Categoría</label>
                            <div class="controls">
                                <select ng-show="vm.nuevoMovimiento.esIngreso" name="categoria" ng-model="vm.nuevoMovimiento.categoria" ng-options="c for c in vm.maestros.categoriasIngresos"></select>
                                <select ng-show="vm.nuevoMovimiento.esGasto" name="categoria" ng-model="vm.nuevoMovimiento.categoria" ng-options="c for c in vm.maestros.categoriasGastos"></select>
                            </div>
                        </div>
                    </div>
                    <div class="col-xs-12 col-sm-6">
                        <div class="control-group">
                            <label class="control-label" for="fecha">Fecha</label>
                            <div class="controls">
                                <input type="date" name="fecha" placeholder="" class="input" ng-model="vm.nuevoMovimiento.fecha">
                            </div>
                        </div>
                        <div class="control-group">
                            <label class="control-label" for="importe">Importe</label>
                            <div class="controls">
                                <input type="number" name="importe" placeholder="" class="input" ng-model="vm.nuevoMovimiento.importe">
                            </div>
                        </div>
                    </div>
                </div>
                <div class="text-right">
                    <button style="margin-top: 20px" type="button" class="btn btn-lg btn-primary" ng-click="vm.guardarMovimiento()">
                        <span>Guardar</span>
                    </button>
                </div>
            </fieldset>
        </form>
    
    </section>
    <section name="Lista">
        <p class="lead">Estos son tus movimientos recientes.</p>
        <br>
        <table class="table">
            <thead>
                <tr>
                    <th>Fecha</th>
                    <th>Tipo</th>
                    <th>Categoría</th>
                    <th>Importe</th>
                </tr>
            </thead>
            <tbody>
                <tr ng-repeat="m in vm.movimientos">
                    <td class="text-left">{{m.fecha | date}}</td>
                    <td class="text-left">{{m.tipo}}</td>
                    <td class="text-left">{{m.categoria}}</td>
                    <td class="text-left" 
                        ng-class=
                        "{'text-success': m.tipo=='Ingreso', 'text-danger' : m.tipo=='Gasto'}">
                        {{m.importe | number:2}} €</td>
                </tr>
            </tbody>
        </table>
    </section>

    <!-- JavaScript References -->
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.2.25/angular.min.js"></script>
    <script src="app.js"></script>
</body>

</html>