<span>
    <span 
          ng-repeat="estrella in estrellas" 
          ng-click="marcar($index)" >
        <span class="lead" 
              ng-class=
              "{'text-danger': estrella.marcada, 
               'text-muted': !estrella.marcada}">
            <b><u>*</u></b>
        </span>
    </span>
</span>